{% extends 'connectercise/base.html' %}
{% block title_block %}
Login
{% endblock %}
        {% block sidebar_block %}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:index' %}">
            <span data-feather="home"></span>
            Home <span class="sr-only">(current)</span>
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:show_user' user.username %}">
            <span data-feather="eye"></span>
            {{ user.username }}'s activities
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:add_request' %}">
            <span data-feather="plus"></span>
            Add a Request
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:restricted' %}">
            <span data-feather="lock"></span>
            Restricted
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_logout' %}?next={% url 'connectercise:index' %}">
            <span data-feather="log-out"></span>
            Logout
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_password_change' %}">
            <span data-feather="lock"></span>
            Change Password
            </a>
        </li>
        {% else %}   
            <li class="nav-item">
            <a class="nav-link active" href="{% url 'auth_login' %}">
            <span data-feather="log-in"></span>
            Login
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:about' %}">
            <span data-feather="aperture"></span>
            About
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:activity' %}">
            <span data-feather="activity"></span>
            Activities
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:search' %}">
            <span data-feather="search"></span>
            Search
            </a>
        </li>
    </ul>
        {% endblock %}
{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
             <h1 class="jumbotron-heading">Login</h1>
        </div>
    </div>
    <div class="container">
        <form class="form-signin" role="form" method="post" action=".">
        {% csrf_token %}
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" name="username" id="id_username" class="form-control"
            placeholder="Username" required autofocus>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="id_password" class="form-control"
            placeholder="Password" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit"
            value="Submit">Sign in</button>
            <br>
        </form>
        <a class="btn btn-lg btn-primary btn-block" href="{% url 'registration_register' %}">Register Here</a>
        <br>
    </div>
{% endblock %}