{% extends "connectercise/base.html" %}
{% load static %}
{% block title_block %}
    Change Password
{% endblock %}
{% block body_block %}
<div class="container text-center">
        <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Change Password</h1>
        </div>
        </div>
</div>
<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change Password" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
