{% extends "connectercise/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title_block %}
    Change Password
{% endblock %}
{% block body_block %}
<div class="container text-center">
        <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Change Password</h1>
        </div>
        </div>
</div>
<form method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Change Password</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %} 
