{% extends 'main/master.html' %}
{% load static %}

{% block title_block %}
About
{% endblock %}
{% block body_block %}
<h1>{{ message }}</h1>
<hr>
<br>
    <p class="about">
        Welcome to Connectercise's About page. I'm glad you're interested to read more about us!
        Sports is an important aspect in all of our lives. Or at least it should be. There's no question
        that being active leads to countless health benefits and a better life, but with this fast paced
        life we lead now a days, finding the time to exercise and exercise in a way that's fun and beneficial
        for you, has become yet another hurdle in our journey towards self improvement. 
        So, we at Connectercise want to help make this hurdle go POOF for you, so that you can get back on your 
        feet, and start exercising in a way that works for you!
        Connectercise offers you the following:
        <ul class="about">
            <li> A simple to use web application which allows athletes to meet other athletes who intend on doing sporting
            activities in the same area with similar sporting specifications.</li>
            <li> A way to quickly find sporting activities near you by filtering through location.</li>

    </p>
{% endblock %}
