{% extends 'main/master.html' %}
{% load static %}

{% block title_block %}
About
{% endblock %}
{% block head_block %}
<script src="{% static 'jQuery/jQuery.js' %}"></script>
<script src="{% static 'jQuery/jquery.ez-plus.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#1").click(function(){
            $(this).ezPlus();
        })
        $("#2").click(function(){
            $(this).ezPlus();
        })
        $("#3").click(function(){
            $(this).ezPlus();
        })
        $("#4").click(function(){
            $(this).ezPlus();
        })
        $('p').mouseover(function(){
            $(this).animate({ paddingTop: "15px" }, 100);
        },);
        $('p').mouseout(function(){
            $(this).animate({ paddingTop: "5px" }, 100);
        });
        $('img').mouseover(function(){
            $(this).animate({ paddingTop: "15px" }, 100);
        },);
        $('img').mouseout(function(){
            $(this).animate({ paddingTop: "5px" }, 100);
        });
    });
</script>
{% endblock %}
{% block body_block %}
<br>
<h1>{{ message }}</h1>
<hr>
    <p class="about">
        Welcome to Connectercise's About page. I'm glad you're interested to read more about us!
        Sports is an important aspect in all of our lives. Or at least it should be. There's no question
        that being active leads to countless health benefits and a better life, but with this fast paced
        life we lead now a days, finding the time to exercise and exercise in a way that's fun and beneficial
        for you, has become yet another hurdle in our journey towards self improvement. 
        So, we at Connectercise want to help make this hurdle go POOF for you, so that you can get back on your 
        feet, and start exercising in a way that works for you!
        Connectercise offers you the following:
    </p>
        <ul class="about">
            <li>A simple to use web application which allows athletes to meet other athletes who intend on doing sporting
            activities in the same area with similar sporting specifications.</li>
            <li>Users can make requests to find other users by specifying sport type, number of participants, date and 
            location</li>
            <li>Once users have matched they can chat directly over Connectercise</li>
            <li>A way to quickly find sporting activities near you by filtering through location.</li>
            <li>Users can rate and comment on pictures from other users.</li>
            <li>Connect to your Strava account for full functionality. See other users in action. Share your workouts!</li>
        </ul>
    <p class="about">
        At Connectercise we are dedicated to delivering the cleanest possible user experience, so that you don't have to worry
        about the how, only about the when! You tell us when you're free and we'll take care of the rest. 
        <br>
        Our matching algorithm is simplistic and efficient, and will directly link you with any suitable candidates it can
        find in our database!<br>
        Check out some of the many satisfied users who've been getting their connectercise on because of us! Getting out there has
        never been easier! So don't waste away!<br><br><br>
        Check out our recent requests below:<br>
    </p>
    {% if requests %}
        <ul class="feed">
        <pre>
                <li><p class="about">Sport and location of request:                                 Date and time request was made:</p></li>
        </pre>
        {% for r in requests %}
            <pre>
                <li><p class="about">{{ r.sport }} request made in {{ r.location }}                          {{ r.time }}</p></p></li>
            </pre>
        {% endfor %}
        </ul>
    {% else %}
    <p class="about">Sorry no requests found to display...</p>
    {% endif %}
    
    <p class="instructions"> Click on the images to zoom in!</p>
    <img id="1" class="about" src="{% static 'images/about.jpg' %}"alt= "That little kid just wanting to play ball lives in all of us!" />
    <br>
    <p class="about">That little kid just wanting to play ball lives in all of us!</p>
    <br>
    <img id="2" class="about" src="{% static 'images/about2.jpg' %}"alt= "That little kid just wanting to play ball lives in all of us!" />
    <br>
    <p class="about">Stop hiding from something you know is inevitable. Connecercise!</p>
    <br>
    <img id="3" class="about" src="{% static 'images/about4.jpg' %}"alt= "That little kid just wanting to play ball lives in all of us!" />
    <br>
    <p class="about">You're never too old. Just ask Paul and Katrina!</p>
    <img id="4" class="about" src="{% static 'images/about3.jpg' %}"alt= "That little kid just wanting to play ball lives in all of us!" />
    <br>
    <p class="about">Don't let your dreams be dreams!</p>
    <br>
{% endblock %}
