p {color:hsl(233, 100%, 7%); font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
b {color:#650042;font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h1 {text-decoration:bold; color:#d6008c; font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h2 {color:#650042; font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
h3 {color:#C8bdbd; font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

body {background-color: #608AF8;   
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    float: center; text-align:left; 
    margin-left:20%; margin-right:20%; 
    overflow-wrap: normal;
}


h1.activity {
    color:hsl(233, 100%, 7%); 
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

strong.activity {
    color:hsl(233, 100%, 7%); 
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
}

p.activity {
    color:hsl(233, 100%, 7%); 
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

* {margin: 0; padding: 0;}
 
div.list {
  margin: 20px;
  background: #eee;
}
 
ul.list {
  list-style-type: none;
  background: #eee;
  width: 500px;
}
 
h3.list {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img.list {
  float: left;
  margin: 0 15px 0 0;
  background: #eee;
  max-height: 200px;
}
 
li p.list {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li.list {
  padding: 10px;
  overflow: auto;
}
 
li:hover.list {
  background: hsl(233, 100%, 7%);
  cursor: pointer;
}

body.connect {
    color: #608AF8;
}
html{
    height: 100%;
    margin: 0px;
}

.content {background-color: #608AF8; 
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center; 
   height: 100%;
   padding-left: 2%;
   padding-right: 2%;
}

.about {color:#f7f0f0; 
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

ul.about {color:#f7f0f0; 
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 2.0;
    text-align: justify;
    font-size: 15px;
}
.instructions{
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 2.0;
    text-align: right;
    font-size: 10px;
}

img.about{
    max-width: 100%;
    height: auto;
    display: block; /* remove extra space below image */
    object-fit: contain;
}


ul.feed{
    border: 3px dotted #650042;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 2.0;
    text-align: justify;
    font-size: 12px;
}