p {color:#f7f0f0; font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
b {color:#650042;font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h1 {text-decoration:bold; color:#d6008c; font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h2 {color:#650042; font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
h3 {color:#C8bdbd; font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

body {background-color: #007bff;   
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    float: center; text-align:left; 
    margin-left:20%; margin-right:20%; 
    overflow-wrap: normal;
}

body.connect {
    color: #007bff;
}
html{
    height: 100%;
    margin: 0px;
}

.content {background-color: #007bff; 
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center; 
   height: 100%;
   padding-left: 2%;
   padding-right: 2%;
}

.about {color:#f7f0f0; 
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

ul.about {color:#f7f0f0; 
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 2.0;
    text-align: justify;
    font-size: 15px;
}
.instructions{
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 2.0;
    text-align: right;
    font-size: 10px;
}

img.about{
    max-width: 100%;
    height: auto;
    display: block; /* remove extra space below image */
    object-fit: contain;
}


ul.feed{
    border: 3px dotted #650042;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 2.0;
    text-align: justify;
    font-size: 12px;
