{% extends 'connectercise/base.html' %}
{% load static %}

{% block title_block %}
    About Connectercise
{% endblock %}
{% block body_block %}
<div class="container text-center">
    <div class="jumbotron p-4">
        <div class="container">
            <h2>About Connectercise</h2>
        </div>
    </div>
    <section id="about" class="bg-light">
    <div class="container">
        <strong class="activity">Here at Connectercise we are dedicated to bringing you a new and unimagined experience, that involved a whole lot of burning calories and a whole lot more of making friends! Connectercise features exclusively:</strong>
          <br>
          <br>
            - A web application which allows users to meet each other and do sporting activities together <br>
            - Users can create sporting requests which are categorized by sport and location <br>
            - Users can fulfill the sporting requests of other users <br>
            - Users can view the past sporting activity of other users, utilizing the Strava API <br>
          
    </div>
    </section>
</div>
{% endblock %}