{% extends 'connectercise/base.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}
{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
          <h1 class="activity">About Connectercise</h2>
          <strong class="activity">Here at Connectercise we are dedicated to bringing you a new and unimagined experience, that involved a whole lot of burning calories and a whole lot more of making friends! Connectercise features exclusively:</strong>
          <br>
          <br>
          <ul>
            <li>A web application which allows users to meet each other and do sporting activities together</li>
            <li>Users can create sporting requests which are categorized by sport and location</li>
            <li>Users can fulfill the sporting requests of other users</li>
            <li>Users can view the past sporting activity of other users, utilizing the Strava API</li>
          </ul>
    </div>
</div>
{% endblock %}