{% extends 'connectercise/base.html' %}
{% load static %}

{% block title_block %}
    Dashboard
{% endblock %}
{% block sidebar_block %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'connectercise:index' %}">
        <span data-feather="home"></span>
        Home <span class="sr-only">(current)</span>
        </a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'connectercise:show_user' user.username %}">
        <span data-feather="eye"></span>
        {{ user.username }}'s activities
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'connectercise:add_sport' %}">
        <span data-feather="plus"></span>
        Add Sport
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'connectercise:restricted' %}">
        <span data-feather="lock"></span>
        Restricted
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_logout' %}?next={% url 'connectercise:index' %}">
        <span data-feather="log-out"></span>
        Logout
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_password_change' %}">
        <span data-feather="lock"></span>
        Change Password
        </a>
    </li>
    {% else %}   
        <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_login' %}">
        <span data-feather="log-in"></span>
        Login
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'connectercise:about' %}">
        <span data-feather="aperture"></span>
        About
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'connectercise:activity' %}">
        <span data-feather="activity"></span>
        Activities
        </a>
    </li>
{% endblock %}
{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Connectercise says...</h1>
            <div>
                <h2 class="h2">
                {% if user.is_authenticated %}
                    howdy {{ user.username }}!
                {% else %}
                    hey there partner!
                {% endif %}
                </h2>
            <strong>{{ boldmessage }}</strong>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Most Popular Sports</h2>
                        <p class="card-text">
                        {% if sports %}
                        <ul class="list-group">
                            {% for sport in sports %}
                                <li class="list-group-item">
                                    <a href = "{% url 'connectercise:show_sport' sport.slug %}">
                                    {{ sport.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <strong>There are no sports present.</strong>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Most Viewed Requests</h2>
                        <p class="card-text">
                        {% if requests %}
                        <ul class="list-group">
                            {% for request in requests %}
                            <li class="list-group-item">
                                <a href= "{{ request.url }}">{{ request.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <strong>There are no requests present.</strong>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}