{% extends 'connectercise/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title_block %}
    Add A Request
{% endblock %}
        {% block sidebar_block %}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:index' %}">
            <span data-feather="home"></span>
            Home <span class="sr-only">(current)</span>
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:show_user' user.username %}">
            <span data-feather="eye"></span>
            {{ user.username }}'s activities
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:add_sport' %}">
            <span data-feather="plus"></span>
            Add Sport
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:restricted' %}">
            <span data-feather="lock"></span>
            Restricted
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_logout' %}?next={% url 'connectercise:index' %}">
            <span data-feather="log-out"></span>
            Logout
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_password_change' %}">
            <span data-feather="lock"></span>
            Change Password
            </a>
        </li>
        {% else %}   
            <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_login' %}">
            <span data-feather="log-in"></span>
            Login
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:about' %}">
            <span data-feather="aperture"></span>
            About
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:activity' %}">
            <span data-feather="activity"></span>
            Activities
            </a>
        </li>
    </ul>
        {% endblock %}
{% block body_block %}
<h1>Add a Request</h1>
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Add a Sport Request</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <form role="form" id="request_form" method="post" action="{% url 'connectercise:add_request' sport.slug %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {% if field.address %}
                //SHOW GOOGLE MAP//
                //Have to put javascript here to show map//
            {% elif field.geolocation %}
                //SHOW ADDRESS BAR//
            {% else %}
                {{ field }}<br />
            {% endif %}
            <div class="p-2"></div>
        {% endfor %}
            <br />
            <button class="btn btn-primary" type="submit" name="submit">
            Add Request
            </button>
            <div class="p-5"></div>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Save Request</button>
            </form>
        </div>
    </div>
    <head>
        <title>Geolocation</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <style>
          /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
          #map {
            height: 100%;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
        </style>
      </head>
      <body>
        <div id="map"></div>
        <script>
          var map, infoWindow;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: -34.397, lng: 150.644},
              zoom: 6
            });
            infoWindow = new google.maps.InfoWindow;
    
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
    
                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                infoWindow.open(map);
                map.setCenter(pos);
              }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
              });
            } else {
              handleLocationError(false, infoWindow, map.getCenter());
            }
          }
    
          function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
          }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAr4rBDcBTX9AuOS0psmJdcsShDVFp-U4&callback=initMap">
        </script>
      </body>
{% endblock %}