{% extends 'connectercise/base.html' %}
{% load static %}

{% block title_block %}
    Add A Request
{% endblock %}
{% block body_block %}
    <h1>Add a Sport Request</h1>
    <div>
        <form id="request_form" method="post" action="/sport/{{ sport.slug }}/add_request/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Create Request" />
        </form>
    </div>
{% endblock %}