{% extends 'connectercise/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title_block %}
    Add A Sport
{% endblock %}
{% block body_block %}
<h1>Add a Sport</h1>
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Add a Sport</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <form role="form" id="sport_form" method="post" action="{% url 'connectercise:add_sport' %}">
        {% csrf_token %}
        {{ form|crispy }}
            <button class="btn btn-primary" type="submit" name="submit">
            Create Sport
            </button>
            <div class="p-5"></div>
            </form>
        </div>
    </div>
{% endblock %}