{% extends 'connectercise/base.html' %}
{% load static %}

{% block title_block %}
{% if user.is_authenticated %}
Dashboard
{% else %}
Home
{% endif %}
{% endblock %}
{% load static %}
{% block body_block %}
{% if user.is_authenticated %}
<div class="container text-center">
    <div class="jumbotron p-4">
        <div class="container">
              <h1>Oh hello, 
                {% if user.first_name %}
                {{ user.first_name }} {{ user.last_name }}!
                {% else %}
                {{ user.username }}!
                {% endif %}
                </h1>
        </div>
    </div>
  <br>

<section id="sports" class="bg-light">
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
    <h2>Check out some of the sports.</h2><br>
      <ul class="nav flex-column">
        {% if sports %}
            {% for s in sports %}
                <ul class="list">
                    <li class="list">
                    <img class="list" src="{% static 'images/about4.jpg' %}" />
                    <h3 class="list"><a class="nav-link active" href = "{% url 'connectercise:show_sport' s.slug %}">
                    <span data-feather="archive"></span> {{ s.name }}</a></h3>
                    <p class="list">Lorem ipsum dolor sit amet...</p>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <li class="nav-item">There are no sports present.</li>
        {% endif %}
    </ul>
    </div>
  </div>
</div>
</section>
<br>
<section id="requests" class="bg-light">
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      {% if requests %}
      <h2>Explore trending requests right now.</h2><br>
        <ul class="nav flex-column">
            {% for r in requests %}
                <ul class="list">
                    <li class="list">
                    <img class="list" src="{% static 'images/about4.jpg' %}" />
                    <h3 class="list"><a href="{% url 'connectercise:show_request' r.sport.slug r.slug %}">
                    <span data-feather="archive"></span> {{ r.title }}</a></h3>
                    <p class="list">{{ r.desc }}</p>
                    </li>
                </ul>
            {% endfor %}
      {% else %}
            <li class="nav-item">There are no requests present.</li>
      {% endif %}
    </ul>
    </div>
  </div>
</div>
</section>
{% else %}
<section class="text-white">
  <div class="container text-center">
    <h1>Welcome to Connectercise</h1>
    <br>
    <div class="row">
        <div class="col">
          <div class="container">
              <form class='search' action="{% url 'connectercise:search' %}" method="get">
                  <input name="q" type="text" placeholder="Search...">
                  <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-search"></i></button>
              </form>
          </div>
        </div>
      </div>
    <br>
    <div class="row">
        <div class="col">
          <a href="{% url 'auth_login' %}" class="action-button shadow animate green">Login</a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
          <a style="background-color: #1560BD;border-bottom: 5px solid #1560BD;text-shadow: 0px -2px #1560BD;" href="{% url 'registration_register' %}" class="action-button shadow animate blue">Register</a>
        </div>
    </div>
    <br>
    <hr>
    <br>
  </div>
</section>

<section id="about" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Connectercise</h2>
        <p class="lead">Here at Connectercise we are dedicated to bringing you a new and unimagined experience, that involved a whole lot of burning calories and a whole lot more of making friends! Connectercise features exclusively:</p>
            - Users can connect with other users and do sporting activities together. <br>
            - Users can create sporting requests to do sporting activities.<br>
            - Sporting requests are categorized by sport and location.<br>
            - Users can fulfill the sporting requests of other users.<br>
            - Users can comment on sporting requests.<br>
            - Users can delete their own sporting requests.<br>
            - Users can search for sporting requests they are interested in.<br>
      </div>
    </div>
  </div>
</section>

<section id="sports">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
      <h2>Check out some of the sports we support, below:</h2>
      <p class="lead">Here at Connectercise we support a wide range of different sporting activites. If it's a sport, and it's been done before, we'll support it! Just make an account and add the sport to our list of sports! In no time at all, the requests will start streaming in!</p> 
        <ul class="nav flex-column">
          {% if sports %}
              {% for s in sports %}
                  <ul class="list">
                      <li class="list">
                      <img class="list" src="{% static 'images/about4.jpg' %}" />
                      <h3 class="list"><a class="nav-link active" href = "{% url 'connectercise:show_sport' s.slug %}">
                      <span data-feather="archive"></span> {{ s.name }}</a></h3>
                      <p class="list">Lorem ipsum dolor sit amet...</p>
                      </li>
                  </ul>
              {% endfor %}
          {% else %}
              <li class="nav-item">There are no sports present.</li>
          {% endif %}
      </ul>
      </div>
    </div>
  </div>
</section>

<section id="requests" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Check out some of the most recent sporting requests our users have made:</h2>
        <p class="lead">What's a sports request? Why do I need to make one? Check out some of the most popular sporting requests which have been made recently. Eager to get out and about in your town? Sick and tired of sitting at home and making way too much use of that Netflix subscription? Get some inspiration right here!</p>
          <ul class="nav flex-column">
          {% if requests %}
              {% for r in requests %}
                  <ul class="list">
                      <li class="list">
                      <img class="list" src="{% static 'images/about4.jpg' %}" />
                      <h3 class="list"><a href="{% url 'connectercise:show_request' r.sport.slug r.slug %}">
                      <span data-feather="archive"></span> {{ r.title }}</a></h3>
                      <p class="list">{{ r.desc }}</p>
                      </li>
                  </ul>
              {% endfor %}
          {% else %}
              <li class="nav-item">There are no requests present.</li>
          {% endif %}
      </ul>
      </div>
    </div>
  </div>
</section>
{% endif %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>

{% endblock %}