{% extends 'connectercise/base.html' %}
{% load static %}

{% block title_block %}
    {% if request %}
        {{ request.title }}
    {% else %}
        Unknown Request
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
        {% if request %}
             <h1 class="jumbotron-heading">{{ request.title }}</h1>
        {% else %}
            The specified sporting request does not exist.
        {% endif %}
        </div>
    </div>
    <ul>
    {% if request %}
        <h6>{{ request.desc }}</h6>
        <h5>Created by<a href = "{% url 'connectercise:show_user' %}">{{ request.creator.username }}</a></h5>
    </ul>
    {% else %}
        <strong>404</strong>
    {% endif %}
    {% if user.is_authenticated %}
        <a href ="{% url 'connectercise:index' %}">MATCH! (Button by Andrea)</a><br />
    {% endif %}
{% endblock %}