{% extends 'connectercise/base.html' %}
{% load static %}

{% block title_block %}
    Search
{% endblock %}
{% block sidebar_block %}
<a class="logo" href="{% url 'connectercise:index' %}">
    <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="menu-collapsed">Connectercise</span>
</a>
<hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:index' %}">
            <span data-feather="home"></span>
            Home <span class="sr-only">(current)</span>
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:show_user' user.username %}">
            <span data-feather="eye"></span>
            {{ user.username }}'s activities
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:add_request' %}">
            <span data-feather="plus"></span>
            Add a Request
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:restricted' %}">
            <span data-feather="lock"></span>
            Restricted
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_logout' %}?next={% url 'connectercise:index' %}">
            <span data-feather="log-out"></span>
            Logout
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_password_change' %}">
            <span data-feather="lock"></span>
            Change Password
            </a>
        </li>
        {% else %}   
            <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_login' %}">
            <span data-feather="log-in"></span>
            Login
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:about' %}">
            <span data-feather="aperture"></span>
            About
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:activity' %}">
            <span data-feather="activity"></span>
            Activities
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'connectercise:search' %}">
            <span data-feather="search"></span>
            Search
            </a>
        </li>
    </ul>
{% endblock %}
{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
    <h1 class="jumbotron-heading">Search Connectercise</h1>
    <h3>Welcome to Connectercise Search! Find requests near you, NOW!</h3>
    <p>Type location names like 'glasgow', 'edinburgh' or sport names like 'hiking', 'swimming' or search for anything hopeful!</p>
    </div>
</div>
<div class="container">
    <form class='search' action="{% url 'connectercise:search' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
        <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<br>
<div>
    {% if requests %}
        <h2>Results for: {{ query }}</h2>
        <br>
        <div>
            <ul>
            {% for request in requests %}
                <div class="list-group-item">
                    <li><h3 class="list-group-item-heading">
                        <a href="{% url 'connectercise:show_request' request.sport.slug request.slug %}">{{ request.title }}</a>
                    </h3></li>
                </div>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        {% if query %}
        <h3>We're sorry, we couldn't find any search results for: {{ query }}</h3>
        {% endif %}
    {% endif %}
</div>
{% endblock %}