<ul class="nav flex-column">
    {% if sports %}
        {% for s in sports %}
            {% if s == current_sport %}
                <li class="nav-item">
                <a class="nav-link active" href = "{% url 'connectercise:show_sport' s.slug %}">
                    {{ s.name }}
                </a>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href = "{% url 'connectercise:show_sport' s.slug %}">
                    {{ s.name }}
                </a>
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="nav-item">There are no sports present.</li>
    {% endif %}
</ul>