{% extends 'connectercise/base.html' %}
{% load static %}

{% block title_block %}
    {% if sport %}
        {{ sport.name }}
    {% else %}
        Unknown Sport
    {% endif %}
{% endblock %}
{% block body_block %}
<div class="container text-center">
    <div class="jumbotron p-4">
        <div class="container">
        {% if sport %}
             <h1 class="jumbotron-heading">{{ sport.name }}</h1>
             <strong class="activity">Check out some of the latest requests for {{ sport.name }}</strong>
             <br>
             {% if user.is_authenticated %}
             <a style="font-size:25px" href ="{% url 'connectercise:add_request'%}">Add a request here</a><br />
             {% endif %}
        {% else %}
            The specified sport does not exist.
        {% endif %}
        </div>
    </div>
</div>
    <section id="requests" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
            {% if requests %}
                {% for request in requests %}
                    <ul class="list">
                        <li class="list">
                        <img class="list" src="{% static 'images/about4.jpg' %}" />
                        <h3 class="list"><a class="nav-link active" href = "{% url 'connectercise:show_request' request.sport.slug request.slug %}">
                        <span data-feather="archive"></span> {{ request.title }}</a></h3>
                        <p class="list">{{ request.desc }}</p>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                <li class="nav-item">There are no requests present.</li>
            {% endif %}
        <br>
        {% if user.is_authenticated %}
            <a style="font-size:25px" href ="{% url 'connectercise:add_request'%}">Add Request</a><br />
        {% endif %}
        </div>
      </div>
    </div>
    </section>
{% endblock %}