{% extends 'connectercise/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title_block %}
    Add A Request
{% endblock %}
        {% block sidebar_block %}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:index' %}">
            <span data-feather="home"></span>
            Home <span class="sr-only">(current)</span>
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:show_user' user.username %}">
            <span data-feather="eye"></span>
            {{ user.username }}'s activities
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:add_sport' %}">
            <span data-feather="plus"></span>
            Add Sport
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:restricted' %}">
            <span data-feather="lock"></span>
            Restricted
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_logout' %}?next={% url 'connectercise:index' %}">
            <span data-feather="log-out"></span>
            Logout
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_password_change' %}">
            <span data-feather="lock"></span>
            Change Password
            </a>
        </li>
        {% else %}   
            <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_login' %}">
            <span data-feather="log-in"></span>
            Login
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:about' %}">
            <span data-feather="aperture"></span>
            About
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'connectercise:activity' %}">
            <span data-feather="activity"></span>
            Activities
            </a>
        </li>
    </ul>
        {% endblock %}
{% block body_block %}
<h1>{{ user.username }} Settings</h1>
    <div class="jumbotron p-4">
        <div class="container">
<form id="update_user_form" method="POST" action="{% url 'connectercise:user_settings' user.username %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ update_user_form.as_p }}
    {{ update_profile_form.as_p }}
    <img src="{{ update_profile_form.instance.picture.url }}" />
    <br />
    <input type="SUBMIT" name="submit" value="Update" />
</form>
</div></div>{% endblock %}