{% extends 'connectercise/base.html' %}
{% load static %}

{% block title_block %}
    {% if userp %}
        {{ userp.user.username }}
    {% else %}
        Unknown User
    {% endif %}
{% endblock %}
{% block body_block %}
<div class="container text-center">
    <div class="jumbotron p-4">
        <div class="container">
        {% if userp %}
        <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;border:none;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
            .tg .tg-cly1{text-align:left;vertical-align:middle}
            </style>
            <table class="tg">
              <tr>
                <th class="tg-cly1">
                    <img src="{{ userp.picture.url }}" width="90" height="100">
                </th>
                <th class="tg-cly1">
                    <h1 class="jumbotron-heading">{{ userp.user.first_name }} {{ userp.user.last_name }}</h1>
                    <h6>{{ userp.user.username }}</h6>
                </th>
              </tr>
            </table>
            {% if user.is_authenticated %}
            {% if userp.user.username == request.user.username %}
            <a style="font-size:25px" href="{% url 'connectercise:user_settings' userp.user.username %}">Settings</a><br />
            {% else %}
            <a style="font-size:25px" href ="mailto: {{ userp.user.email }}">Mail</a><br />
            {% endif %}
        {% endif %}
        {% else %}
            The specified user does not exist.
        {% endif %}
        </div>
    </div>
    <ul>
    {% if userp %}
    <section id="requests" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                <h2>User's requests</h2>
                <ul class="nav flex-column">
                    {% if requests %}
                        {% for request in requests %}
                        <ul class="list">
                            <li class="list">
                            {% if request.picture %}
                            <img class="list" src="{{ request.picture.url }}" />
                            {% else %}
                            <img class="list" src="{{ request.sport.picture.url }}" />
                            {% endif %}
                            <h3 class="list"><a href="{% url 'connectercise:show_request' request.sport.slug request.slug %}">
                            {{ request.title }}</a></h3>
                            <p class="list">{{ request.desc }}</p>
                            </li>
                        </ul>
                        {% endfor %}
                    {% else %}
                        <li class="nav-item">There are no requests present.</li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </div>
    {% else %}
    User has made no requests.<br />
    {% endif %}
    </section>
    </ul>
</div>
{% endblock %}